<p>contentupload works!</p>



<button class="accordion">Step1: Select topic</button>
<div class="panel">
  <label> Select application type and topic before Uploading data: </label> <br>
  <hr>
  <label>Create topic if new topic required </label>
  <hr>
  <input  [(ngModel)]="newTopic" type="text" > <button (click)="CreateNewTopic()">create</button>
  <hr>
  <select [ngModel]="application">
    <option>Video Search</option>
    <option> Image Search</option>
    <Option>vide exams</Option>
  </select>
  <select [(ngModel)]="selectedTopic" (click)="topicSelected()" >
    <option>---Select interivew topic----</option>
    <option *ngFor="let item of topics" [value]="item">
      {{item}}
    </option>  
  </select>
  <hr>
</div>

<!-- upload -->

<button class="accordion">Step 2: Upload</button>
<div class="panel">
  <label> Select File using upload button</label>
  <hr>
  <input #file type="file"  size="50" width="48"  maxlength="50" multiple (change)="upload(file.files)"  />

  <input style="display: none;" type="file" id="fileUpload" #selectedFile [(ngModel)]="fileUpload" (click)="selectedFile.value = ''" value="" (change)="handleFileInput($event)" />  
  <hr>
  <!-- <input style="display: none;" type="file" id="fileUpload" #selectedFile (click)="selectedFile.value = ''" value="" /> -->
  <table >  
    <tr style=" border: 1px solid black;border-color:greenyellow">  
      <th class="column1">Uploaded Files</th>  
      <th class="column2" style="text-align:center;">Download</th>  
      <th class="column2" style="text-align:center;">Delete</th>  
      
    </tr>  
    <tr *ngFor="let publicfile of publicFiles">  
      <td class="column1">{{publicfile}}</td>  
      <td class="column2" style="text-align:center;cursor: pointer;"><i class="fa fa-download"></i></td>  
      <td class="column3" style="text-align:center;" (click)="deleteFile(publicfile)">  
        <img alt="Group Audit" src="../assets/icon-download.png" />  
      </td>  
    
    </tr>  
  </table>  

</div>

<!-- Intive -->

<button class="accordion">Step3: Send invitation to user</button>
<div class="panel">
  <label>Select topic and Invite user</label>

  <select [(ngModel)]="selectedTopic" (click)="topicSelected()" >
    <option>---Select interivew topic----</option>
    <option *ngFor="let item of topics" [value]="item">
      {{item}}
    </option>    
  </select>
  <hr>

  Enter Email for Candidate<input type="text">
  <button>Send Invitation</button>
</div>