<p>contentupload works!</p>


      
<button class="accordion">Step1: Select topic</button>
<div class="panel">
  <label> Select application type and topic before Uploading data: </label> <br>
  <hr>
<label>Create topic if new topic required </label> 
<hr>
<input type="text"> <button>create</button>
<hr>
<select >
<option>Video Search</option>
<option> Image Search</option>
<Option>Video based Exam</Option>
</select>
<select >
  <option>---Select interivew topic----</option>
</select>
<hr>
</div>

<button class="accordion">Step 2: Upload</button>
<div class="panel">
  <label> Select File using upload button</label>
  <hr>
  <input #file type="file" size="50" width="48"  maxlength="50" multiple  />
  <hr>
   <input style="display: none;" type="file" id="fileUpload" #selectedFile  (click)="selectedFile.value = ''" value="" />  
    </div>

<button class="accordion">Step3: Send invitation to user</button>
<div class="panel">
  <label>Select topic and Invite user</label>
  
  <select >
   <option>---Select interivew topic----</option>
 </select><hr>
 
  Enter Email for Candidate<input type="text"> 
  <button>Send Invitation</button>
  </div>  

