body {
  background:#efefef;
  padding: 5px;
  font-size:14px;
}

.wrapper {
  padding:5px;
  width:100%;
  max-width: 868px;
  margin: 0 auto;
  background:#d6ecf1;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

li {
  border: 1px solid #333;
  border-top: 0;
  background:whitesmoke;
  padding: 10px;
  &:first-child{
    border-top: 1px solid #333;
  }
  &.active > div{
    display:block;
  }
  > div {
    background: gray;
    border-top: 1px solid #333;
    margin: 5px -10px -10px;
    
    display:none;
    color:black
  }
  > a {
    text-decoration: none;
    color: #cc8989;
    display:block;
    &:after {
      content: "+";
      display:inline-block;
      float:right;
    }
  }
  &.active > a:after {
    content: "-";
  }
}
/* Optional styling */
summary::-webkit-details-marker {
  color: blue;
}
summary:focus {
  outline-style: none;
}
select {
background-color:lightgray;
width:100%;
padding:5px;
border-radius: 4x;

}
input:focus{
  background-color: khaki;
}
input {
  background-color: lightgray  ;
  color:black;
  width: 100%;
  padding: 5px;
  border-radius: 1x  ;
  box-sizing: border-box;
}
button{
  display:block;
  padding:6px;
  font-weight: bold ;
  font-size: 16px;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-top:15px;
  width: 130px;
  
  
}
label {
  font-size: 16px;
}
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin-top: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  max-width: 160px;
  font-weight: 400;
  padding: 0.55em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}