<table >

    <tr><td  >
        <div class="bigbuttons1">
        <iframe width="520" height="300" src="http://www.youtube.com/embed/kOfOADtiB9I?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
    </td>
<td  >
    <div class="bigbuttons1">
           <div style="padding:20px">
        <label style="padding:20px">UserName: </label>
        <input type="Text" style="width:250px" />
    </div>
    <div style="padding:10px">
        <label style="padding:20px">Select Time</label>
        <input type="datetime-local" style="width:250px" />
    </div>
    <div style="padding:10px">
        <button>Create Meeting</button>
    
    </div>
    <div style="padding:10px">
        <label>Meeting URL:</label>
        {{url}}
    </div>
</div>
 
</td></tr>
</table>

